div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj106 {
position: absolute;
overflow: hidden;
top: 29px;
left: 33px;
width: 47px;
height: 47px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj106_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 47px;
	height: 47px;
}
div#obj111 {
position: absolute;
overflow: hidden;
top: 99px;
left: 119px;
width: 142px;
height: 213px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj111_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 142px;
	height: 213px;
}
div#obj114 {
position: absolute;
overflow: hidden;
top: 92px;
left: 434px;
width: 131px;
height: 220px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj114_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 131px;
	height: 220px;
}
div#obj205 {
position: absolute;
overflow: hidden;
top: 328px;
left: 131px;
width: 107px;
height: 69px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj205_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 107px;
	height: 69px;
}
div#obj208 {
position: absolute;
overflow: hidden;
top: 322px;
left: 450px;
width: 107px;
height: 69px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj208_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 107px;
	height: 69px;
}

div#obj108 {
position: absolute;
overflow: hidden;
top: 36px;
left: 95px;
width: 701px;
height: 78px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj108_content {
}
















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
